<html>
<head>
  <meta charset="UTF-8">
</head>
<body>
<h1 style="font-family: Lucida Sans; color: #a90329;font-size:  24px;font-weight:  400;letter-spacing:  -1px;margin: 10px 0;">GPortal</h1>
<h4 style="color: #565656; font-size: 15px; font-weight: 400; line-height: 22px; margin-top: 15px; font-family:'Open Sans', Arial, Helvetica, Sans-Serif;">
  Bienvenido a GPortal. Usted ha recibido el link de activaci&#243;n de su cuenta de usuario.
</h4>
<h4 style="color: #565656; font-size: 15px; font-weight: 400; line-height: 22px; margin-top: 15px; font-family:'Open Sans', Arial, Helvetica, Sans-Serif;">
  Active su nueva cuenta de usuario de GPortal y podra acceder a su negocio desde cualquier lugar.
</h4>
<table>
  <tr>
  <tr>
    <td style="color: #565656; font-size: 15px; font-weight: 400; line-height: 22px; margin-top: 15px; font-family:'Open Sans', Arial, Helvetica, Sans-Serif;">
      ${(name)!?html} <a href="${activationLink}"> Click aqu&#237;</a> e ingrese su contrase&#241;a.
    </td>
  </tr>
  <tr>
    <td style="color: #565656; font-size: 15px; font-weight: 400; line-height: 22px; margin-top: 15px; font-family:'Open Sans', Arial, Helvetica, Sans-Serif;">
      Este enlace ser&#225; v&#225;lido hasta el ${activationExpDate}
    </td>
  </tr>
  <tr>
    <td style="color: #565656; font-size: 15px; font-weight: 400; line-height: 22px; margin-top: 15px; font-family:'Open Sans', Arial, Helvetica, Sans-Serif;">
      Una vez configurada su contrase&#241;a ingrese al Portal usando su correo electronico como Id de usuario
    </td>
  </tr>
  </tr>
  <tr></tr>
  <tr></tr>
</table>
</body>
</html>