<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
</head>
<body>
<h1 style="font-family: Lucida Sans; color: #a90329;font-size:  24px;font-weight:  400;letter-spacing:  -1px;margin: 10px 0;">GPortal</h1>
<h4 style="color: #565656; font-size: 15px; font-weight: 400; line-height: 22px; margin-top: 15px; font-family:'Open Sans', Arial, Helvetica, Sans-Serif;">
  Usted ha recibido el link de restauraci&#243;n de la contrase&#241;a de su cuenta de usuario de GPortal.
</h4>
<h4 style="color: #565656; font-size: 15px; font-weight: 400; line-height: 22px; margin-top: 15px; font-family:'Open Sans', Arial, Helvetica, Sans-Serif;">
  Modifique su contrase&#241;a y podra volver a acceder a su negocio desde cualquier lugar.
</h4>
<table>
  <tr>
  <tr>
  <tr>
    <td style="color: #565656; font-size: 15px; font-weight: 400; line-height: 22px; margin-top: 15px; font-family:'Open Sans', Arial, Helvetica, Sans-Serif;">
      ${(name)!?html} <a href="${recoveryLink}"> Click aqu&#237;</a> para modificar su contrase&#241;a.
    </td>
  </tr>
  <tr>
    <td style="color: #565656; font-size: 15px; font-weight: 400; line-height: 22px; margin-top: 15px; font-family:'Open Sans', Arial, Helvetica, Sans-Serif;">
      Este enlace ser&#225; v&#225;lido hasta el ${recoveryExpDate}
    </td>
  </tr>
  <td style="color: #565656; font-size: 15px; font-weight: 400; line-height: 22px; margin-top: 15px; font-family:'Open Sans', Arial, Helvetica, Sans-Serif;">
    Recuerde que el Id de su Usuario para ingresar al portal es su correo electronico.
  </td>
  <tr>
  </tr>
  <tr></tr>
  <tr></tr>
</table>
</body>
</html>